<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Uneasy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>작성자</th>
                <th>불편 대상</th>
                <th>제목</th>
                <th>불편 지수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.author.getNickname()}"></td>
                <td th:text="${post.target.getName()}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.uneasyIdx}"></td>
            </tr>
            </tbody>
        </table>

        <form role="form" method="post" action="/chatrooms/new" th:object="${form}">
            <div class="form-group">
                <label th:for="postId">게시글 선택</label>
                <select th:field="*{postId}" class="form-control">
                    <th:block th:each="post : ${posts}">
                        <option th:value="${post.id}" th:text="${post.title}"/>
                    </th:block>
                </select>
            </div>
            <div class="form-group">
                <label th:for="memberId">해결사 선택</label>
                <select th:field="*{solverId}" class="form-control">
                    <th:block th:each="member : ${members}">
                        <option th:value="${member.id}" th:text="${member.nickname}"/>
                    </th:block>
                </select>
            </div>
            <button type="submit" class="btn-primary btn">채팅방 생성</button>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container --></body>
</html>